/* Fonts */
 
@font-face {
    font-family: 'TF2Build';
    src: url('tf2build-webfont.eot');
    src: url('tf2build-webfont.eot?#iefix') format('embedded-opentype'),
         url('tf2build-webfont.woff') format('woff'),
         url('tf2build-webfont.ttf') format('truetype'),
         url('tf2build-webfont.svg#tf2_buildtf2_build') format('svg');
    font-weight: normal;
    font-style: normal;
}
 
@font-face {
    font-family: 'tf2regular';
    src: url('tf2-webfont.eot');
    src: url('tf2-webfont.eot?#iefix') format('embedded-opentype'),
         url('tf2-webfont.woff') format('woff'),
         url('tf2-webfont.ttf') format('truetype'),
         url('tf2-webfont.svg#tf2regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
 
@font-face {
    font-family: 'tf2secondary';
    src: url('tf2secondary-webfont.eot');
    src: url('tf2secondary-webfont.eot?#iefix') format('embedded-opentype'),
         url('tf2secondary-webfont.woff') format('woff'),
         url('tf2secondary-webfont.ttf') format('truetype'),
         url('tf2secondary-webfont.svg#tf2secondary') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Actual Stuff */

body { 
  background-color: #3f2319;
  color: #ffffff;
  font-family:"tf2secondary", sans-serif;
  font-size: 17px;
  line-height:18px;
}

a {
  color: #ffffff;
}

a:hover {
  color: rgb(235, 235, 235);
  text-decoration: none;
}

#Head a {
  color: #ffffff;
  font-weight: normal;
  font-size: 14px;
}

#Head a:hover {
  color: rgb(235, 235, 235);
  text-decoration: none;
  font-weight: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "tf2regular", sans-serif;
  font-weight: normal;
  margin-bottom: 10px;
}

.Meta .RSS {
  display: none;
}

.Sprite {
  display: none !important;
}

.CategoryList .Title {
  font-family: "tf2regular", sans-serif;
  font-size: 18px;
  margin-bottom: 6px;
  font-weight: normal;
}

.SiteMenu a {
  font-size: 14px;
  padding: 6px;
  margin-left: -3px;
}

.SiteMenu {
  display: block;
  margin-bottom: -5px;
}

.DataList .Meta {
  font-size: 14px;
  color: #ffffff;
}

.DataList .Item, .NarrowList .Item {
  border-color: #ffffff;
}

#Foot .PoweredByVanilla {
  display: none;
}

.ChildCategoryList .Title {
  font-weight: normal;
  font-size: 15px;
  margin-bottom: 2px;
}

.ChildCategoryList .CategoryDescription {
  font-size: 16px;
}

.Discussions .Title {
  font-weight: normal;
  font-size: 17px;
}

.ConnectLabel {
  font-weight: normal;
  color: #ffffff
}

.ConnectLabel:hover {
  font-weight: normal;
  color: rgb(235, 235, 235);
}

.Discussions .Read, .Discussions .Read:hover {
  background-color: #3f2319;
  -ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  filter:alpha(opacity=100);
  opacity: 1;
}

.GuestBox  p, .GuestBox h4 {
  display: none;
}

.RegisterLink {
  display: none;
}

.SignInLink {
  display: block;
}

#Panel {
  background-color: #ffffff;
  border-radius: 6px;
  float:right;
  width: 270px;
}

#Panel a.Username {
  font-weight: normal;
  font-size: 15px;
  position: absolute;
  top: 83px;
  color: rgb(51, 51, 51);
}

#Panel a.Username:hover {
  font-weight: normal;
  font-size: 15px;
  position: absolute;
  top: 83px;
  color: rgb(71, 71, 71);
  text-decoration: none;
}

#Panel .ProfilePhotoMedium {
  margin-left: 9px;
}

#Panel .ProfilePhotoLarge {
  margin-left: 33px;
}

#Panel .PhotoWrapLarge {
  border-radius: 6px;
}

#Panel a.ChangePicture {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-family: "tf2build", sans-serif;
  background-color: #0081c2;
  background-image: -moz-linear-gradient(top, #73432d, #663c28);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#73432d), to(#663c28));
  background-image: -webkit-linear-gradient(top, #73432d, #663c28);
  background-image: -o-linear-gradient(top, #73432d, #663c28);
  background-image: linear-gradient(to bottom, #73432d, #663c28);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff73432d', endColorstr='#ff663c28', GradientType=0);
  outline: 0;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

#Panel a.ChangePicture:hover {
  color: rgb(255, 255, 255);
}

#Panel .BigButton {
  margin: 0px 6px;
}

#Panel .FilterMenu li a, .PanelInfo li a {
  color: rgb(51, 51, 51);
  font-family: "tf2build", sans-serif;
  font-weight: normal;
  font-size: 20px;
  display: block;
  padding-left: 20px;
  padding-top: 3px;
  padding-bottom:3px;
  background-color: #ffffff;
  line-height: 20px;
}

#Panel .FilterMenu li a:hover, .PanelInfo li a:hover{
  color: rgb(255, 255, 255);
  text-decoration: none;
  background-color: #0081c2;
  background-image: -moz-linear-gradient(top, #73432d, #663c28);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#73432d), to(#663c28));
  background-image: -webkit-linear-gradient(top, #73432d, #663c28);
  background-image: -o-linear-gradient(top, #73432d, #663c28);
  background-image: linear-gradient(to bottom, #73432d, #663c28);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff73432d', endColorstr='#ff663c28', GradientType=0);
  outline: 0;
}

#Panel .FilterMenu li.Active a, .PanelInfo li.Active a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  background-color: #0081c2;
  background-image: -moz-linear-gradient(top, #73432d, #663c28);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#73432d), to(#663c28));
  background-image: -webkit-linear-gradient(top, #73432d, #663c28);
  background-image: -o-linear-gradient(top, #73432d, #663c28);
  background-image: linear-gradient(to bottom, #73432d, #663c28);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff73432d', endColorstr='#ff663c28', GradientType=0);
  outline: 0;
}

#Panel .FilterMenu .Active, .PanelInfo .Active {
  background: none;
  font-weight: bold;
}

#Panel .FilterMenu li, .PanelInfo li {
  border-bottom: none;
  padding: 0px;
}

#Panel .FilterMenu li:first-child, .PanelInfo li:first-child {
  border-top: none;
}

#Panel .Depth2 {
  padding-left: 0px;
}

#Panel h4 {
  display: none;
}

#Panel input.InputBox {
  width: 226px;
  margin-left: 6px;
  margin-bottom: 6px;
  margin-right: 6px;
}

#Panel #Form_Go .Button {
  position: relative;
  left: -6px;
  top: -3px;
}

#Panel .CategoryFollowToggleBox {
  display: none;
}

#Panel .MeMenu {
  display: none;
}

#Panel .PanelInfo {
  display: none;
}

#Panel .PanelInfo.PanelCategories {
  display: inline;
}

.Count {
  display: none;
}

.HasNew {
  background-color: rgb(87, 51, 34);
  color: #ffffff;
  font-size: 14px;
  padding: 0px 3px;
  font-weight: normal;
}

.ItemDiscussion .Options {
  display: none;
}

.Message span {
  font-family: "tf2secondary" !important;
  font-size: 16px;
}

.Message {
  font-size: 16px;
}

div[title="Font"], div[title="Font Size"], div[title="Font Color"], div[title="Text Highlight Color"], div[title="Remove Formatting"], div[title="Outdent"], div[title="Indent"], div[title="Show Source"] {
  display: none;
}

.FormWrapper {
  background: rgb(255, 255, 255);
  border-radius: 6px;
}

.OptionsTitle {
  background-color: rgb(255, 255, 255);
  width: 16px;
  height: 18px;
  border-radius: 6px;
}

a.EditComment:hover {
  background-color: #0081c2;
  background-image: -moz-linear-gradient(top, #73432d, #663c28);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#73432d), to(#663c28));
  background-image: -webkit-linear-gradient(top, #73432d, #663c28);
  background-image: -o-linear-gradient(top, #73432d, #663c28);
  background-image: linear-gradient(to bottom, #73432d, #663c28);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff73432d', endColorstr='#ff663c28', GradientType=0);
  outline: 0;
}

/* Default (mostly)*/

.Row {
width:100%;
}

.BreadcrumbsWrapper {
font-size:14px;
padding:3px;
border-top:1px solid rgb(238, 238, 238);
border-bottom:1px solid rgb(238, 238, 238);
margin-bottom:10px;
}

#Head {
background-color: #3f2319;
color: #ffffff;
padding: 4px 0;
}

.CategoryList .Item.Read , .CategoryList .Item.Read:hover {
background-color: #3f2319;
-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
filter:alpha(opacity=100);
opacity: 1;
}

.SiteTitle {
display:none;
}

#Body .ContentColumn {
margin:0 300px 0 0;
}

#Body .Wrapper #Content {
margin:0 215px 0 0;
}

.Banner ul {
background:none repeat scroll 0 0 #3B5998;
margin:0;
padding:0;
}

#Menu {
margin-right:0!important;
}

.Banner ul li,#Menu li {
display:inline;
}

.Banner ul li a,#Menu a {
display:inline-block;
padding:3px 7px;
font-size:11px;
font-weight:bold;
color:#fff;
}

.Banner ul li a:hover,#Menu a:hover {
text-decoration:underline;
color:#fff;
}

#Head #Search form {
float:right;
padding:0;
margin-top:-30px;
}

#Head #Search form input.InputBox {
width:204px;
border:0;
padding:4px;
margin:0 6px 0 0;
background:#fff;
-moz-border-radius:2px;
-webkit-border:2px;
border-bottom:2px;
color:#969696;
font-size:13px;
vertical-align:bottom;
}

#Head #Search form input.Button {
font-size:11px;
border:none;
}

@media screen and max-width 799px{
body.Discussions .DataTable .FirstUser {
display:none;
}

#Body .Row {
position:relative;
}

#Body .ContentColumn {
padding-top:50px;
}

.MeBox,.BigButton {
visibility:visible;
position:relative;
width:120px;
display:inline-block;
}

.BigButton {
padding:8px 20px;
}

.MeBox {
width:200px;
}

#Panel {
overflow:visible;
visibility:hidden;
position:absolute;
right:2px;
width:auto;
display:block;
}

.Column.ContentColumn {
margin:0!important;
}

body.Profile #Body .ContentColumn {
padding-top:0;
}

body.Profile .MeBox,body.Profile .BigButton {
visibility:visible;
position:relative;
top:auto;
right:auto;
width:auto;
}

body.Profile .MeBox {
width:auto;
right:auto;
}

body.Profile #Panel {
visibility:visible;
position:relative;
right:auto;
width:200px;
}

body.Profile .Column.ContentColumn {
margin:0 220px 0 0!important;
}
}